In [1]:
%matplotlib inline
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
df = pd.DataFrame(np.random.randn(5,3),
                  index = list(range(1,6)),
                  columns = list("ABC"))

In [3]:
df

          A         B         C
1  1.348313  1.570617 -1.142804
2 -0.464114  0.059780  0.873944
3  0.083063  0.109498  0.260430
4  1.847639  0.765563  1.870909
5 -0.004934 -0.004538 -0.014677

In [4]:
df[df.B>0]

          A         B         C
1  1.348313  1.570617 -1.142804
2 -0.464114  0.059780  0.873944
3  0.083063  0.109498  0.260430
4  1.847639  0.765563  1.870909

In [5]:
df[df.B>0]["C"]=0

D:\Users\PC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [6]:
df

          A         B         C
1  1.348313  1.570617 -1.142804
2 -0.464114  0.059780  0.873944
3  0.083063  0.109498  0.260430
4  1.847639  0.765563  1.870909
5 -0.004934 -0.004538 -0.014677

In [7]:
df.loc[2:3, "B":"C"]

          B         C
2  0.059780  0.873944
3  0.109498  0.260430

In [8]:
df.loc[2, "B"]

0.05977997383157624

In [9]:
df.loc[df.B>0]["C"] = 0

D:\Users\PC\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [10]:
df

          A         B         C
1  1.348313  1.570617 -1.142804
2 -0.464114  0.059780  0.873944
3  0.083063  0.109498  0.260430
4  1.847639  0.765563  1.870909
5 -0.004934 -0.004538 -0.014677

In [11]:
df.loc[2, "B"] = 1

In [12]:
df

          A         B         C
1  1.348313  1.570617 -1.142804
2 -0.464114  1.000000  0.873944
3  0.083063  0.109498  0.260430
4  1.847639  0.765563  1.870909
5 -0.004934 -0.004538 -0.014677

In [14]:
df.loc[df.B>0, "C"] = 0

In [15]:
df

          A         B         C
1  1.348313  1.570617  0.000000
2 -0.464114  1.000000  0.000000
3  0.083063  0.109498  0.000000
4  1.847639  0.765563  0.000000
5 -0.004934 -0.004538 -0.014677

In [16]:
df.loc[2, "B"] = 0

In [17]:
df

          A         B         C
1  1.348313  1.570617  0.000000
2 -0.464114  0.000000  0.000000
3  0.083063  0.109498  0.000000
4  1.847639  0.765563  0.000000
5 -0.004934 -0.004538 -0.014677